* {
  margin: 0;
  padding: 0;
}

.links {
  position: fixed;
  bottom: 0;
  width: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.linkslist {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  width: 100vh;
  list-style: none;
}

.selected {
  font-weight: bold;
}

.list {
  margin: 50px;
}

.add {
  margin: 50px;
}

.WelcomeHome {
  padding: 150px;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  align-items: center;
}

.homeButton {
  margin: 30px;
  padding: 15px 32px;
  font-size: 30px;
}

.inputHome {
  font-size: 30px;
}

.validation {
  font-size: 20px;
  color: red;
}

.inactive {
  background-color: darkgray;
}

.soon {
  background: lightgreen;
}

.kind-of-soon {
  background: coral;
}

.not-soon {
  background: indianred;
}

#list-page-content {
  margin: auto;
}

#add-form-content {
  margin: auto;
  width: 30%;
  padding: 0.75em;
}

#submit-item {
  margin: auto;
  width: 100%;
}
