* {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}

.links {
  position: fixed;
  bottom: 0;
  width: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.linkslist {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  width: 100vh;
}

.selected {
  font-weight: bold;
}
