* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.flex-items {
  padding: 10px;
  /* align-content: auto; */
}

.navbar {
  background-color: #fff;
  padding: 20px;
  padding-left: 50px;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.navbar-logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 20px;
}

.links {
  position: fixed;
  bottom: 0;
  width: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.linkslist {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  width: 100vh;
  list-style: none;
}

.selected {
  font-weight: bold;
}

.list {
  margin: 50px;
}

.add {
  margin: 50px;
}

main {
  padding: 40px;
  padding-top: 20px;
  font-size: 40px;
  font-family: 'Inter', sans-serif;
}

.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  width: 50%;
}

.main-header {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
}
.main-header-title {
  text-align: center;
}
.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-content-title {
  font-weight: bold;
  color: #ff8601;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.25em;
}

#how-it-works-text {
  font-size: 2.75rem;
  text-align: left;
}

#how-it-works-text-top {
  margin-bottom: 1em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.existingListForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newListButton {
  letter-spacing: -0.408px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #ff8601;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  border-width: 1px;
  margin: 20px;
  width: 300px;
}

.emptyListButton {
  letter-spacing: -0.408px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #ff8601;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  border-width: 1px;
  width: 200px;
}

#emptyListText {
  margin-bottom: 30px;
}

.inputExistingList {
  font-size: 20px;
  border-radius: 5px;
  border-width: 0.5px;
  padding: 12px;
  margin-top: 30px;
  margin-bottom: 5px;
  width: 300px;
}
.existingListButton {
  letter-spacing: -0.408px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #ff8601;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  border-width: 1px;
  width: 300px;
}
.validation {
  font-size: 20px;
  color: red;
}

.inactive {
  background-color: darkgray;
}

.soon {
  background: lightgreen;
}

.kind-of-soon {
  background: coral;
}

.not-soon {
  background: indianred;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

p {
  font-size: 0.5em;
}

.h1_standout {
  color: #ff8601;
}

#list-page-content {
  margin: auto;
}

#add-form-content {
  margin: auto;
  width: 30%;
  padding: 0.75em;
}

#submit-item {
  margin: auto;
  width: 100%;
}

@media only screen and (max-width: 1062px) {
  .main-header {
    flex-direction: column;
  }
  .main-content {
    flex-direction: column-reverse;
  }
  .buttons {
    flex-direction: column;
  }
  .existingListForm {
    flex-direction: column;
  }

  .inputExistingList {
    margin-bottom: 10px;
  }
  .main-header-container {
    width: 100%;
  }
}
